services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trulymine_backend
    user: "1000:1000" 
    volumes:
      - ./src:/var/www/html
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
    depends_on:
      - db
    networks:
      - laravel


  nginx:
    image: nginx:1.27
    container_name: trulymine_nginx
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: trulymine_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: trulymine_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: secret
    ports:
      - "3308:3306" # host port -> container port
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5

  phpmyadmin:
    image: phpmyadmin:5.2
    container_name: trulymine_phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
      UPLOAD_LIMIT: 100M
    depends_on:
      - db
    networks:
      - laravel

networks:
  laravel:

volumes:
  dbdata: